*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #37ff00, #0040ff);
}
.calculator-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 3rem;
  padding: 22px;
  border: 1px solid white;
  outline: none;
  background-color: aliceblue;
}
.calculator-grid > button:hover {
  background-color: aqua;
}

.span-two {
  grid-column: span 2;
}
.output {
  grid-column: 1/-1;
  background-color: white;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
  padding: 3em;
  margin-top: 6em;
  padding: 30px;
  word-wrap: break-word;
  word-break: break-all;
}
.output .previous-operand {
  color: black;
  font-size: 2rem;
}
.output .current-operand {
  color: black;
  font-size: 3rem;
}
